@model Exam_ASP_NET.ViewModels.AdminPanelVM;
@{
    ViewData["Title"] = "Admin Panel";
    Layout = "~/Views/Shared/_AdminPanel.cshtml";
}

<div class="container d-flex justify-content-between">
    <div>
        <h2>Admin Panel</h2>
    </div>
    <div>
        <a asp-controller="Store" asp-action="Upset" class="btn btn-primary">Create Genre</a>
    </div>
</div>

<form method="post" asp-action="Search">
    <div class="form-group pt-1 pb-1">
        <select asp-items="@Model.Categories" asp-for="@Model.Search.CategoryId" class="form-control">
            <option selected disabled>---Select Category---</option>
        </select>
    </div>
    <div class="input-group pt-2 pb-3">
        <input asp-for="@Model.Search.Text" type="text" class="form-control" placeholder="Search anything.." />
        <input class="btn btn-primary" type="submit" value="Search" />
    </div>
</form>

<div class="container d-inline-flex flex-row">
    <div class="bg-white box-shadow p-3">
        <ul class="list-group">
            <li class="list-group-item">Name</li>
            <li class="list-group-item">Size</li>
            <li class="list-group-item">Color</li>
            <li class="list-group-item">Price</li>
            <li class="list-group-item">Price</li>
        </ul>
    </div>
    <div class="bg-white box-shadow p-3 ml-4 w-100">
        @if (@Model.Purchases.Any())
        {
            @foreach (Purchase item in @Model.Purchases)
            {
                <div class="p-2 bg-light mb-1 rounded">
                    <p>Name : @item.Name</p>
                    <p>Image : @item.Image</p>
                    <p>Link : @item.Link</p>
                    <p>Purchase : @item.Category.Name</p>
                    <div class="d-flex justify-content-between p-1">
                        <a asp-controller="Store" asp-route-Id="@item.Id" asp-action="Upset" class="btn btn-secondary"><i class="fas fa-edit"></i> Edit</a>
                        <a asp-controller="Store" asp-route-Id="@item.Id" asp-action="Delete" class="btn btn-danger"><i class="fas fa-trash-alt"></i> Delete</a>
                    </div>
                </div>
            }
        }
        else
        {
            <p>There is no purchases.</p>
        }
    </div>
</div>

@section Scripts
{
    @{
        <partial name="_ValidationScriptsPartial.cshtml" />
    }
}
